{% extends "index.html" %}

{% block title %}{{ cancion.titulo }} - Cancionante{% endblock %}

{% block js %}
<script src="/static/js/canciones.js"></script>
{% endblock %}

{% block content %}
<div id="cancion-id" data-id="{{ cancion.id }}">
	<h2>{{ cancion.titulo }}</h2>
	<p><img src="{{ MEDIA_URL }}{{ cancion.foto }}"></p>
	<p><span>Album:</span>{{ cancion.album }}</p>
	<p><span>Autor:</span>{{ cancion.autor }}</p>
	<p><span>Contenido:</span>{{ cancion.contenido }}</p>
	<p>
		<button id="eliminar">Eliminar</button>
		<button id="editar">Editar</button>
	</p>
</div>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<button type="button" id="cancelar">Cancelar</button>
	<input type="submit" value="Enviar">
</form>
{% endblock %}