<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Cancionante{% endblock %}</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{% block js %}{% endblock %}

</head>
<body>
	<header>
		<h1>Cancionante</h1>
	</header>
	<section id="side">
		<nav id="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/restaurante">Restaurantes</a></li>
				<li><a href="/cancion">Canciones</a></li>
			</ul>
		</nav>
	</section>
	<section id="content">
		{% block content %}
			{% if restaurantes %}
			<div id="restaurantes">
				<h2>Restaurantes</h2>

				{% include "render_for.html" with modulos=restaurantes tipo="restaurante" %}

			</div>
			{% endif %}
			{% if canciones %}
			<div id="canciones">
				<h2>Canciones</h2>

				{% include "render_for.html" with modulos=canciones tipo="cancion" %}
			
			</div>
			{% endif %}

			{% block form %}
			{% endblock %}
		{% endblock %}
	</section>
</body>
</html>